@model IEnumerable<Bakery.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bakery XYZ</h1>
    <p class="lead">We sell things to eat and drink.</p>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    @foreach(var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(model => item.ProductName)</td>
        <td>@Html.DisplayFor(model => item.ProductPrice)</td>
    </tr>
    }
</table>
