@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Bakery XYZ was established in the Spring of 2018 to bring yet another bakery to the Capitol Hill area of Seattle.</p>
